<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/styles.css">
        <title> Bienvenido a nuestro Mercado Liebre </title>
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="/static/images/logo-mercado-liebre.svg" class="logo"> 
                <div class="search-bar">
                    <input type="search" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                    <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                 Comprá en cuotas y sin tarjeta de crédito </h2> 
                 <br></br>
            </div>        
            <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
            <nav class="main-navbar">
                <ul class="left-navbar">
                   <li><a href="#">Ofertas</a></li>
                   <li><a href="#">Tiendas Oficiales</a></li>
                   <li><a href="#">Vender</a></li>
                   <li><a href="#">Ayuda</a></li>
               </ul>
               <ul class="right-navbar">
                   <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                   <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                   <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
               </ul>
         </nav>
       </header>
            <main>
                <form class="cajaLogin" action="/login" method="POST">
                    <div class="grupo">
                        <label for="user"> Nombre de usuari@: </label> 
                        <input class="ingreso" type="text" name="user" placeholder="Nombre de usuari@">
                    <br> </br>
                        <label for="pass"> Contraseña: </label> 
                        <input class="ingreso" type="password" name="pass" placeholder="contraseña">
                    <br> </br>
                    <input class="ingreso" type="submit" value="Enviar">
                </form>
            </main>
        <footer>
            <footer>
                <div class="credit-card">
                    <i class="fas fa-credit-card"></i>
                    </div>
                <div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p class="test" style="text-align:center"
                    >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
        
                <div class="gift">
                    <i class="fas fa-gift"></i>
                    </div>
                <div>
                    <h4 >Envío gratis desde $ 2.500</h4>
                    <p class="test" style="text-align:center">
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
        
                <div class="user-shield">
                    <i class="fas fa-user-shield"></i>
                    </div>
                <div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p class="test" style="text-align:center">
                     ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
                <p class="test" style="text-align:center"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </footer>
          </body>
        </html>