<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Bienvenido a nuestro Mercado Liebre </title>
  </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="/static/images/logo-mercado-liebre.svg" class="logo"> 
                <div class="search-bar">
                    <input type="search" placeholder="Buscar productos, marcas">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                    <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                 Comprá en cuotas y sin tarjeta de crédito </h2> 
                 <br></br>
            </div>        
            <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
            <nav class="main-navbar">
                <ul class="left-navbar">
                   <li><a href="#">Ofertas</a></li>
                   <li><a href="#">Tiendas Oficiales</a></li>
                   <li><a href="#">Vender</a></li>
                   <li><a href="#">Ayuda</a></li>
               </ul>
               <ul class="right-navbar">
                   <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                   <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                   <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
               </ul>
         </nav>
       </header>
       <div><img src="/static/images/img-home-banner.jpg" width="100%" alt=""></div>
    <main>
      <form action ="/" method ="POST">
        <label for="name"> Nombre y Apellido: </label> 
        <input type="text" name ="name" placeholder ="Nombre y apellido">
        <br></br>
        <label for="user"> Nombre de Usuario: </label> 
        <input type="text" name ="user" placeholder ="Nombre de usuario">
        <br></br>
        <label for="email"> Correo electronico: </label> 
        <input type="email" name ="email" placeholder ="E-mail">
        <br></br>
        <div class="profile">

                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>

                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
        </div>

         <h4 class="font-intereres"> ¡¡¡ Tus Categorias de Interees !!! </h4>

             <div>
                <input type="checkbox" name="interests" value="a" id="a">
                <label for="a">Electro</label>
             </div>
          <div>
                <input type="checkbox" name="interests" value="b" id="b">
                <label for="b">Moda</label>
          </div>
          <div>
                <input type="checkbox" name="interests" value="c" id="c">
                <label for="c">Hogar</label>
          </div>
            <div>
                <input type="checkbox" name="interests" value="d" id="d">
                <label for="d">Juguetería</label>
            </div>
          <div>
              <input type="checkbox" name="interests" value="e" id="e">
              <label for="e">Vida sana</label>
          </div>  

          <h4 class="font-intereres"> ¡¡¡ Carga tu Foto!!! </h4>
          <br></br>
          <label for="foto"> Foto: </label>
          <input type="file" name="foto" accept=".jpg" multiple>
          <br></br>
          <br></br>
          <label for="foto"> Elegi tu contraseña: </label>
          <input type="password" name="pass" placeholder="Elegí tu contraseña">
          <br></br>
          <label for="foto"> Confirma tu contraseña: </label>
          <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
          <br></br>
          <br></br>
          <input type="submit" value="Enviar">
          <input type="reset" value="Borrar">
          <br></br>
          <br></br>
     </form>

    </main>
        
    
       <footer>
         
      </footer>

</html>